<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801258913989-okr5tsfguhvs4mus0ug6p7eututu1uec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801258913989-okr5tsfguhvs4mus0ug6p7eututu1uec</string>
	<key>API_KEY</key>
	<string>AIzaSyD4kd-e-mDTmB0_tNJ2zXPL_dH7ydbGYzI</string>
	<key>GCM_SENDER_ID</key>
	<string>801258913989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppLocationTodo</string>
	<key>PROJECT_ID</key>
	<string>locationtodo</string>
	<key>STORAGE_BUCKET</key>
	<string>locationtodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801258913989:ios:d49bd26be75f26b70430ac</string>
	<key>DATABASE_URL</key>
	<string>https://locationtodo.firebaseio.com</string>
	<key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    			<string>com.googleusercontent.apps.801258913989-okr5tsfguhvs4mus0ug6p7eututu1uec</string>
    		</array>
    	</dict>
    </array>
</dict>
</plist>